In [ ]:
# Notebook Structure:



#     Exploratory Data Analysis (EDA.ipynb)
#         Data loading and cleanup
#         Statistical summaries and visualization
#         Initial findings and hypotheses for features affecting diamond prices

In [3]:
import pandas as pd
df = pd.read_csv('./../datasets/diamonds/diamonds.csv')

In [5]:
df.median()

TypeError: could not convert string to float: 'Ideal'

In [6]:
df.mode()

   carat    cut color clarity  depth  table  price     x     y     z
0    0.3  Ideal     G     SI1   62.0   56.0    605  4.37  4.34  2.69
1    NaN    NaN   NaN     NaN    NaN    NaN    765  4.38   NaN   NaN
2    NaN    NaN   NaN     NaN    NaN    NaN    776   NaN   NaN   NaN